@media print {
    h1 {
        font-size: 2.0em;
        border-bottom: 2px solid;
        border-left: 10px solid;
        padding-left: 20px;
        margin-top: 16px;
    }
    h2 {
        font-size: 1.75em;
        border-left: 10px solid #38f;
        padding-left: 20px;
    }
    h3 {
        font-size: 1.5em;
        border-left: 8px solid #ad8;
        padding-left: 20px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        line-height: 1.5em;
        margin: 20px 0;
    }
    div.section {
        page-break-after: always;
    }
    dl.method {
        page-break-inside: avoid;
    }
    dl.staticmethod {
        page-break-inside: avoid;
    }
}


